@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

*{
    margin:0;
    padding:0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

body{
	background-color: #4F4F4F;
}



#navbar {
    display: flex;
	float: left;
    align-items: center;
    justify-content: center;
}


.topnav {
	overflow: hidden;
	box-shadow: #FF87B7;
  }
  
  .topnav a {
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 14px;
	text-decoration: none;
	font-size: 17px;
  }
  
  .topnav a:hover {
	color: #FF87B7;
	text-decoration: underline;
  }
  

  
  .topnav-right {
	float: right;
  }




  img:hover {
	transform: rotateY(360deg);
	-webkit-transform: rotateY(360deg);
	transition-duration: 2.5s;
	-webkit-transition-duration:3s;
	}






.rightside{
    background: #FF87B7;
	box-shadow: 0 1px 2px 0 #fff, 0 1.5px 5px 0 #fff;
}

/* text animation */

.snap{
	padding-left: 220px;
}
.contents {
	position: relative;
	color:#fff;
    padding-top: 250px;
    padding-left: 220px;
    font-size: 65px;
}

.contents h2 {
	color: #fff;
	font-size: 80px;
	position: absolute;
	transform: translate(-50%, -50%);
}

.contents h2:nth-child(1) {
	color: transparent;
	-webkit-text-stroke: 3.5px #999;
}

.contents h2:nth-child(2) {
	color: #FF87B7;
	animation: animate 2s ease-in-out infinite;
}


@keyframes animate {
	0%,
	100% {
		clip-path: polygon(
			0% 45%,
			16% 44%,
			33% 50%,
			54% 60%,
			70% 61%,
			84% 59%,
			100% 52%,
			100% 100%,
			0% 100%
		);
	}

	50% {
		clip-path: polygon(
			0% 60%,
			15% 65%,
			34% 66%,
			51% 62%,
			67% 50%,
			84% 45%,
			100% 46%,
			100% 100%,
			0% 100%
		);
	}
}









h5{
    padding-left: 160px;
    padding-bottom: 60px;
}

/* cards */
.card{
	height: 300px;
	width:300px;
	margin-left: 180px;
	margin-top: 80px;
	background-color: transparent;
	border:2px solid #999;
}
.container .card .icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #999;

}

.container .card .icon .fa {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    color: #fff;

}


.container .card .slide {
    width: 300px;
    height: 200px;
    transition: 0.5s;


}

.container .card .slide.slide1 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transition: .7s;
    transform: translateY(70px);
	border: none;

}

.container .card:hover .slide.slide1{
    transform: translateY(0px);
}

.container .card .slide.slide2 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 20px; */
    box-sizing: border-box;
    transition: .8s;
    transform: translateY(-100px);
    /* box-shadow: 0 20px 40px rgba(0,0,0,0.4); */

}

.container .card:hover .slide.slide2{
    transform: translateY(0);
}

.container .card .slide.slide2::after{
    content: "";
    position: absolute;
    width: 30px;
    height: 4px;
    bottom: 15px;
    left: 40%;
    left: 40%;
    transform: translateX(-50%);
    /* background: #2c73df; */
}

.container .card .slide.slide2 .content p {
    margin: 0;
    padding: 0;
    text-align: center;
    color: #414141;
}

.container .card .slide.slide2 .content h3 {
    margin: 0 0 10px 0;
    padding: 0;
    font-size: 24px;
    text-align: center;
    color: #414141;
} 




  .shape {
	background: linear-gradient(45deg, var(#FF87B7) 0%, var(#FF87B7) 100%);
	animation: morph 8s ease-in-out infinite;
	border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
	height: 600px;
	transition: all 2s ease-in-out;
	width: 730px;
	z-index: 5;
  }
  
  @keyframes morph {
	0% {
		border-radius:  60% 40% 30% 70% / 60% 30% 70% 40%;
		background: linear-gradient(45deg, var(#FF87B7) 0%, var(--secondary) 100%);
	} 
	
	50% {
		border-radius:  30% 60% 70% 40% / 50% 60% 30% 60%;
		background: linear-gradient(45deg, var(--third) 0%, var(--secondary) 100%);
	}
	
	100% {
	  border-radius:  60% 40% 30% 70% / 60% 30% 70% 40%;
	  background: linear-gradient(45deg, var(#4F4F4F) 0%, var(--secondary) 100%);
	} 
  }

  
.smallhead{
	padding-top: 10px;
	padding-left: 175px;
	color:#fff;
}


hr{
	height:1.5px;
	background-color: #FF87B7;
}



#about{
	color:#fff;
	padding-top: 110px;
	text-align: center;
}

.matter{
	padding: 0 40px;
}

#about-head:hover{
	color:#FF87B7;
}


/* footer */


@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");



.footer {
  position: relative;
  width: 100%;
  background:  #FF87B7;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.social-icon,
.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
  list-style: none;
}

.social-icon__link {
  font-size: 2rem;
  color: #000;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
.social-icon__link:hover {
  transform: translateY(-10px);
}

.menu__link {
  font-size: 1.2rem;
  color: #000;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
  font-weight: bolder;
}

.menu__link:hover {
  opacity: 1;
  
}

.footer p {
  color: #000;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}

.wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url("wave.png");
  background-size: 1000px 100px;
}

.wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWaves 4s linear infinite;
}

.wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animate1 4s linear infinite !important;
}

.wave#wave3 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWaves 3s linear infinite;
}

.wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animate 3s linear infinite;
}

@keyframes animateWaves {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}

@keyframes animate1 {
  0% {
    background-position-x: -1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}

